apiVersion: 1

contactPoints:
  - orgId: 1
    name: grafana-default-email
    receivers:
      - uid: telegram-alerts
        type: telegram
        settings:
          bottoken: __BOT_TOKEN__
          chatid: "__CHAT_ID__"
